{{#if (eq this.type "node")}}
  <div class="sidebar">
    <div class="sidebar__header">
      <h3>
        {{this.name}}
      </h3>
    </div>
    <div
      class="sidebar__content"
      {{did-insert this.initialize}}
      {{did-update this.initialize @record}}
    >
      {{#if this.isGhostNode}}
        <div class="alert alert-warning">
          👻 {{t "forms.node.ghost_warning"}}
        </div>
      {{/if}}
      <BsForm
        @model={{this.changeset.dataProxy}}
        @disabled={{@disabled}} as |form|
      >
        <form.element
          @controlType="text"
          @label="Name"
          @placeholder="Name"
          @property="name"
          @customError={{get this.errors "name"}}
        />

        {{#if this.nodeFormFieldsComponent}}
          <this.nodeFormFieldsComponent
            @form={{form}}
            @node={{this.record}}
            @changeset={{this.changeset}}
            @errors={{this.errors}}
          />
        {{/if}}

        <div {{did-update this.onIsDirtyChanged this.isDirty}}></div>
      </BsForm>
    </div>
  </div>
{{/if}}