{{#if (eq this.type "node")}}
  <div class="sidebar">
    <div class="sidebar__header">
      <h3>
        {{@record.name}}
      </h3>
    </div>
    <div class="sidebar__content">
      <BsForm
        @onSubmit={{this.onSave}}
        @model={{@record}}
        @disabled={{@disabled}} as |form|
      >
        <form.element
          @controlType="text"
          @label="Name"
          @placeholder="Name"
          @property="name"
        />

        {{#if this.nodeFormFieldsComponent}}
          <this.nodeFormFieldsComponent @form={{form}} @node={{@record}} />
        {{/if}}

        <form.submitButton>
          {{t "actions.save"}}
        </form.submitButton>
      </BsForm>
    </div>
  </div>
{{/if}}