<BsForm @model={{this.changeset.dataProxy}} @disabled={{@disabled}} as |form|>

  {{#if (eq this.type "node")}}
    <div class="sidebar">

      <div class="sidebar__header">
        <Ui::SaveIndicator @isSaving={{this.changeset.isSaving}} />
        <BsAlert
          @type="danger"
          @dismissible={{false}}
          @visible={{this.hasErrors}}
        >
          {{t "messages.form_error"}}
        </BsAlert>
        <h3>
          <form.element
            @controlType="text"
            @placeholder={{t "models.nodes.attributes.name"}}
            @property="name"
            @customError={{get this.errors "name"}}
          />
        </h3>
      </div>
      <div
        class="sidebar__content"
        {{did-insert this.initialize}}
        {{did-update this.initialize @record}}
      >

        {{#if this.isGhostNode}}
          <div class="alert alert-warning">
            {{! template-lint-disable no-bare-strings }}
            👻
            {{t "models.nodes.ghost_warning"}}
          </div>
        {{/if}}

        <form.element
          @controlType="textarea"
          @label={{t "models.nodes.attributes.description"}}
          @placeholder={{t "models.nodes.attributes.description"}}
          @property="description"
          @customError={{get this.errors "description"}}
        />

        {{#if this.nodeFormFieldsComponent}}
          <this.nodeFormFieldsComponent
            @form={{form}}
            @node={{this.record}}
            @modelsVersion={{@modelsVersion}}
            @changeset={{this.changeset}}
            @errors={{this.errors}}
            @disabled={{@disabled}}
          />
        {{/if}}

        <div {{did-update this.onIsDirtyChanged this.isDirty}}></div>

        {{! DELETE Button }}
        <div class="node__delete-button-wrapper">
          <button
            type="button"
            class="btn btn-danger"
            disabled={{@disabled}}
            {{on "click" this.deleteNode}}
          >
            {{t "actions.delete"}}
          </button>
        </div>
      </div>
    </div>
  {{/if}}
</BsForm>