{{#if this.canInsert}}
  <div
    class="react-wrapper"
    {{did-insert this.didInsert}}
    {{did-update this.didInsert @model}}
    {{did-update this.didInsert @model.publishedAt}}
  >
  </div>
{{/if}}

{{#if this.emberReactConnector.sidebarElement}}
  {{#in-element this.emberReactConnector.sidebarElement}}
    <AnimatedContainer>
      {{#animated-if this.hasSelected use=this.transition}}
        {{#if this.selectedSingleItem}}
          <Form
            @record={{this.selectedSingleItem}}
            @disabled={{not @model.canEdit}}
            @close={{this.closeForm}}
          />
        {{/if}}
      {{/animated-if}}
    </AnimatedContainer>
  {{/in-element}}
{{/if}}

{{#if this.emberReactConnector.toolbarElement}}
  {{#in-element this.emberReactConnector.toolbarElement}}
    <NodeToolbar @model={{@model}} @disabled={{not @model.canEdit}} />
  {{/in-element}}
{{/if}}