{{#let @model as |modelVersion|}}
  <div
    class="sidebar__container sidebar__container--left
      {{if this.isMinimized 'sidebar__container--minimized'}}"
  >
    <div class="sidebar">
      <SidebarGeneral::Nav
        @activeView={{this.activeView}}
        @isMinimized={{this.isMinimized}}
        @minimize={{this.minimize}}
        @selectActiveView={{this.selectActiveView}}
        @modelVersion={{modelVersion}}
      />
      {{#unless this.isMinimized}}
        {{#if this.sidebarViewComponent}}
          <this.sidebarViewComponent @modelVersion={{modelVersion}} />
        {{/if}}
      {{/unless}}
    </div>
  </div>
{{/let}}