{{#let @model as |modelVersion|}}
  <div
    class="sidebar__container sidebar__container--left
    {{if this.isMinimized "sidebar__container--minimized"}}"
    {{did-insert this.addEventListeners}}
    {{will-destroy this.removeEventListeners}}
  >
    <div class="sidebar">
      <SidebarGeneral::Nav
        @activeView={{this.activeView}}
        @isMinimized={{this.isMinimized}}
        @minimize={{this.minimize}}
      />
      {{#unless this.isMinimized}}
        {{#if this.sidebarViewComponent}}
          <this.sidebarViewComponent
            @modelVersion={{modelVersion}}
            @onCreateNewDraftVersion={{@onCreateNewDraftVersion}}
            @onStartPublish={{@onStartPublish}}
            @onStartShare={{@onStartShare}}
            @onStartClone={{@onStartClone}}
            @onShowSimulateDialog={{@onShowSimulateDialog}}
            @onShowSettingsDialog={{@onShowSettingsDialog}}
          />
        {{/if}}
      {{/unless}}
    </div>
  </div>
{{/let}}