<BsModal
  class="modal--no-backdrop"
  @open={{@show}}
  @onHide={{@onHide}}
  @backdrop={{false}}
  @backdropClose={{true}}
  @onShow={{this.onShow}}
  @size="lg" as |modal|
>
  <modal.header>
    <h4 class="modal-title">
      {{t "components.simulate_modal.title"}}
      <b>
        {{@model.name}}
      </b>
    </h4>
  </modal.header>
  <modal.body>
    <BsForm as |form|>
      <form.element
        @controlType="switch"
        @label={{t "components.simulate_modal.is_client_side"}}
        @value={{this.isClientSideCalculation}}
        @onChange={{this.toggleClientSideCalculation}}
      />
      {{! ERROR }}
      <BsAlert @type="danger" @visible={{this.hasError}}>
        <strong>
          {{#if this.simulationErrorNode}}
            Error in Node
            <a
              href="javascript:void(0)"
              class="simulate-model__error-node__select-link"
              {{on
                "click"
                (fn
                  this.emberReactConnector.select
                  "node"
                  this.simulationErrorNode.id
                )
              }}
            >
              [{{this.simulationErrorNode.name}}]
            </a>
            :
          {{else}}
            Error:
          {{/if}}
        </strong>
        {{this.simulationError.message}}
      </BsAlert>
      {{#if (and this.chart (not this.hasError))}}
        <BsNav @type="tabs" as |nav|>
          {{#each this.tabNames as |tabName|}}
            <nav.item>
              <a
                href="javascript:void(0)"
                class="nav-link {{if (this.isTabActive tabName) "active"}}"
                {{on "click" (fn this.switchTab tabName)}}
              >
                {{titleize tabName}}
              </a>
            </nav.item>
          {{/each}}
        </BsNav>
      {{/if}}
      {{#if (and (not this.chart) (not this.simulationError))}}
        <BsSpinner>
          {{t "actions.loading"}}
        </BsSpinner>
      {{/if}}
      <div
        class="simulate-model__chart-container"
        {{did-insert this.didInsertChartContainer}}
      ></div>
      {{#if (and this.chart (not this.hasError))}}
        <div class="simulate-model__range__wrapper">
          <div class="simulate-model__range">
            <label for="time-range" class="form-label">
              Simulation Control
            </label>
            <Input
              @type="range"
              class="form-range"
              min={{0.01}}
              max={{100}}
              step={{0.01}}
              id="time-range"
              @value={{this.animationCursor}}
              {{on "change" this.updateDatasetFromAnimationCursor}}
            />
          </div>

          <BsButton
            @type="primary"
            class="btn-round"
            {{on "click" this.playPause}}
          >
            <FaIcon @icon={{if this.isPlaying "pause" "play"}} />
          </BsButton>

          <BsDropdown as |dd|>
            <dd.button @type="link">
              {{this.speed}}x
              <span class="caret"></span>
            </dd.button>
            <dd.menu as |menu|>
              <menu.item>
                <a
                  href="#"
                  class="dropdown-item"
                  {{on "click" (fn this.setSpeed 0.2)}}
                >
                  0.2x
                </a>
              </menu.item>
              <menu.item>
                <a
                  href="#"
                  class="dropdown-item"
                  {{on "click" (fn this.setSpeed 0.5)}}
                >
                  0.5x
                </a>
              </menu.item>
              <menu.item>
                <a
                  href="#"
                  class="dropdown-item"
                  {{on "click" (fn this.setSpeed 1)}}
                >
                  1x (Normal Speed)
                </a>
              </menu.item>
              <menu.item>
                <a
                  href="#"
                  class="dropdown-item"
                  {{on "click" (fn this.setSpeed 1.5)}}
                >
                  1.5x
                </a>
              </menu.item>
              <menu.item>
                <a
                  href="#"
                  class="dropdown-item"
                  {{on "click" (fn this.setSpeed 2)}}
                >
                  2x
                </a>
              </menu.item>
              <menu.item>
                <a
                  href="#"
                  class="dropdown-item"
                  {{on "click" (fn this.setSpeed 5)}}
                >
                  5x
                </a>
              </menu.item>
              <menu.item>
                <a
                  href="#"
                  class="dropdown-item"
                  {{on "click" (fn this.setSpeed 10)}}
                >
                  10x
                </a>
              </menu.item>
            </dd.menu>
          </BsDropdown>
        </div>
      {{/if}}
    </BsForm>
  </modal.body>
</BsModal>