<BsModal
  @open={{@show}}
  @onShow={{this.onShow}}
  @onHide={{@onHide}}
  @size="lg" as |modal|
>
  <modal.header>
    <h4 class="modal-title">
      {{t "components.simulate_modal.title"}}
      <b>
        {{@model.name}}
      </b>
    </h4>
  </modal.header>
  <modal.body>
    <BsForm as |form|>
      <form.element
        @controlType="switch"
        @label={{t "components.simulate_modal.is_client_side"}}
        @value={{this.isClientSideCalculation}}
        @onChange={{this.toggleClientSideCalculation}}
      />
      {{#if this.simulateResult.isPending}}
        <BsSpinner>
          {{t "actions.loading"}}
        </BsSpinner>
      {{else if this.simulateResult.isResolved}}
        <BsNav @type="tabs" as |nav|>
          {{#each this.tabNames as |tabName|}}
            <nav.item>
              <a
                href="javascript:void(0)"
                class="nav-link {{if (this.isTabActive tabName) "active"}}"
                {{on "click" (fn this.switchTab tabName)}}
              >
                {{titleize tabName}}
              </a>
            </nav.item>
          {{/each}}
        </BsNav>
        <div
          class="simulate-model__chart-container"
          {{did-insert this.didInsertChartContainer}}
        ></div>
        {{#if this.chart}}
          <form.element
            @controlType="number"
            @label={{t "models.models_version.attributes.timeLength"}}
            @value={{this.time}}
            @onChange={{this.setTime}} as |el|
          >
            <el.control min={{0}} max={{@model.timeLength}} />
          </form.element>
        {{/if}}
      {{/if}}
    </BsForm>
  </modal.body>
</BsModal>