<@form.element
  @label="Input"
  @value={{this.inputName}}
  @controlType="text"
  @disabled={{true}} as |el|
>
  <el.control disabled="true" />
</@form.element>

<p>
  {{#each @changeset.data.values as |value i|}}
    <div>
      <@form.element
        @controlType="number"
        @label="Input"
        @value={{value.x}}
        @onChange={{fn this.updateValue i "x"}}
      />
      <@form.element
        @controlType="number"
        @label="Output"
        @value={{value.y}}
        @onChange={{fn this.updateValue i "y"}}
      />

      <a href="javascript:void(0)" {{on "click" (fn this.removeValue i)}}>
        Remove
      </a>
    </div>
  {{/each}}
  <BsButton @type="primary" @onClick={{this.addNewValue}}>
    Add New Row
  </BsButton>
</p>

<@form.element
  @controlType="radio"
  @label="Interpolation"
  @property="data.interpolation"
  @options={{this.interpolationOptions}}
/>

<NodeFormFields::Validation
  @form={{@form}}
  @changeset={{@changeset}}
  @el={{@el}}
/>