<div class="formula__wrapper">
  {{yield}}

  {{! FORMULAS }}
  {{#unless @disabled}}
    <BasicDropdown as |dd|>
      <dd.Trigger class="formula__functions__btn btn btn-secondary btn-sm">
        <FaIcon @icon="code" />
      </dd.Trigger>
      <dd.Content @overlay={{true}}>
        {{! search input}}
        <div class="formula__search">
          <Input
            id="formulas-filter"
            @type="text"
            @value={{this.filterValue}}
            placeholder={{t "components.formula.search_placeholder"}}
          />
          <a
            href="javascript:void(0)"
            class="btn btn-link"
            {{on "click" this.clearFilter}}
          >
            <FaIcon @icon="times" />
          </a>
        </div>
        {{! formulas: accordion with categories}}
        <BsAccordion class="formula__accordion" as |acc|>
          {{#each-in this.filteredFormulas as |k v|}}
            <acc.item @value={{k}} @title={{k}}>
              <BsListGroup
                @flush={{true}}
                class="formula__list-group"
                as |ListGroup|
              >
                {{! each item is a formula }}
                {{#each v as |item|}}
                  <ListGroup.item>
                    <a
                      href="javascript:void(0)"
                      {{on "click" (fn this.insertFormula item dd)}}
                    >
                      {{item.name}}
                      <BsTooltip @placement="left">
                        {{item.formula}}<br />
                        <small>
                          {{item.description}}
                        </small>
                      </BsTooltip>
                    </a>
                  </ListGroup.item>
                {{/each}}
              </BsListGroup>
            </acc.item>
          {{else}}
            <BsListGroup @flush={{true}} as |ListGroup|>
              <ListGroup.item>
                {{t "components.formula.nothing_found"}}
              </ListGroup.item>
            </BsListGroup>
          {{/each-in}}
        </BsAccordion>
      </dd.Content>
    </BasicDropdown>
    {{! LINKED NODES }}
    <ul
      class="formula__linked"
      {{did-insert this.loadSourceNodes}}
      {{did-update this.loadSourceNodes @node.id}}
      {{did-update this.checkForIssues @node.data.value}}
    >
      {{#each this.sourceNodes as |node|}}
        <li>
          <a
            href="javascript:void(0)"
            class="badge rounded-pill text-bg-secondary text-white formula__add-linked"
            {{on "click" (fn this.insertNodeTemplate node)}}
          >
            {{node.name}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{/unless}}
</div>