<BsAccordion class="sidebar-accordion" @selected="property-query" as |acc|>

  <@form.element @label={{t "components.ogc_api.endpoint_label"}} @property="endpointId">
    <PowerSelect
      @options={{this.availableOgcEndpoints}}
      @selected={{this.selectedEndpoint}}
      @searchEnabled={{false}}
      @onChange={{this.onEndpointSelected}}
      as |endpoint|
    >
      {{endpoint.name}} <small class="text-muted">({{endpoint.baseUrl}})</small>
    </PowerSelect>
  </@form.element>

  {{!-- Only show API selection for multi-API endpoints --}}
  {{#unless this.isSingleApiEndpoint}}
    <@form.element @label={{t "components.ogc_api.apis_label"}}>
      <PowerSelect
        @options={{if this.availableApis.isResolved this.availableApis.value null}}
        @selected={{this.selectedApi}}
        @searchEnabled={{true}}
        @searchField="title"
        @disabled={{not this.availableApis.isResolved}}
        @onChange={{this.onApiSelected}}
        as |api|
      >
        {{or api.title api.id "Unnamed API"}}
      </PowerSelect>
    </@form.element>

    {{#if this.selectedApi}}
      <div class="api-info">
        {{t "components.ogc_api.more_info"}}
        <a
          href="https://api.hamburg.de/datasets/v1/{{@changeset.dataProxy.data.apiId}}/api"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{this.selectedApi.title}}
        </a>
      </div>
    {{/if}}
  {{/unless}}

  <@form.element
    @label={{t "components.ogc_api.collection_label"}}
  >
    <PowerSelect
      @options={{if this.availableCollections.isResolved this.availableCollections.value null}}
      @selected={{this.selectedCollection}}
      @disabled={{this.isCollectionSelectDisabled}}
      @onChange={{this.onCollectionSelected}}
      as |collection|
    >
      {{or collection.title collection.id "Unnamed Collection"}}
    </PowerSelect>
  </@form.element>

  {{#let (not @changeset.dataProxy.data.collectionId) as |isDisabled|}}
    <@form.element
      @label={{t "components.ogc_api.limit_label"}}
      @controlType="number"
      @value={{@changeset.dataProxy.data.query.limit}}
      @onChange={{fn (mut-number @changeset.dataProxy.data.query.limit)}}
      as |el|
    >
      <el.control disabled={{isDisabled}} />
    </@form.element>

    <@form.element
      @label={{t "components.ogc_api.offset_label"}}
      @controlType="number"
      @value={{@changeset.dataProxy.data.query.offset}}
      @onChange={{fn (mut-number @changeset.dataProxy.data.query.offset)}}
      as |el|
    >
      <el.control disabled={{isDisabled}} />
    </@form.element>

    <@form.element
      @controlType="switch"
      @label={{t "components.ogc_api.include_geom_data_label"}}
      @value={{not @changeset.dataProxy.data.query.skipGeometry}}
      @onChange={{this.toggleSkipGeometry}}
      as |el|
    >
      <el.control disabled={{isDisabled}} />
    </@form.element>
  {{/let}}

  <@form.element
    @label={{t "components.ogc_api.selected_properties_label"}}
    @property="properties"
  >
    <PowerSelectMultiple
      @options={{if this.propertiesSchema.isResolved this.propertiesSchema.value null}}
      @selected={{this.selectedProperties}}
      @disabled={{not this.propertiesSchema.isResolved}}
      @searchEnabled={{true}}
      @searchField="title"
      @onChange={{this.onPropertiesSelected}}
      as |property|
    >
      {{property.title}}
    </PowerSelectMultiple>
  </@form.element>

  <NodeFormFields::OgcApiFeatures::PropertyQuery
    @acc={{acc}}
    @form={{@form}}
    @changeset={{@changeset}}
    @baseUrl={{this.currentBaseUrl}}
  />

  <acc.item
    @value="advanced-filter"
    @title={{t "components.ogc_api.advanced_filter_title"}}
  >
    <@form.element
      @label={{t "components.ogc_api.advanced_filter_label"}}
      @controlType="textarea"
      @helpText={{t "components.property_query.filter_help_text"}}
      @property="data.query.filter"
      as |el|
    >
      <el.control disabled={{not this.selectedCollection}} />
    </@form.element>
  </acc.item>

  <NodeFormFields::OgcApiFeatures::DataTransformation
    @acc={{acc}}
    @form={{@form}}
    @changeset={{@changeset}}
    @propertiesSchema={{this.propertiesSchema}}
  />

  <div class="sidebar-accordion__footer">
    <div>
      <strong>
        {{t "components.ogc_api.total"}}:
      </strong>
      {{this.selectedCollection.itemCount}}
    </div>
    <div>
      <strong>
        {{t "components.ogc_api.matching"}}:
      </strong>
      {{this.numberOfAllMatchingFeatures}}
    </div>
    <div>
      <strong>{{t "components.ogc_api.in_limit"}}:
      </strong>
      {{this.numberOfCurrentMatchingFeatures}}
    </div>

    <BsButton
      @onClick={{fn (mut this.showPreviewModal) true}}
      @disabled={{not this.selectedCollection}}
    >
      {{t "components.ogc_api.preview"}}
    </BsButton>

    <BsModalSimple
      @title={{t "components.ogc_api.data_preview_title"}}
      @open={{this.showPreviewModal}}
      @onHide={{fn (mut this.showPreviewModal) false}}
    >
      {{! prettier-ignore }}
      <pre><code>{{this.previewFeatures}}</code></pre>
    </BsModalSimple>
  </div>
</BsAccordion>