{{#if (or @inputVisible @outputVisible)}}
  <@acc.item
    @value={{"interface-scenario"}}
    @title={{t "components.parameter_settings.title"}}
  >
    <fieldset class="parameter__settings">
      {{#if @inputVisible}}
        {{! INPUT }}
        <h6>
          {{t "components.parameter_settings.input"}}
        </h6>
        <@form.element>
          <PowerSelect
            @placeholder={{t
              "components.parameter_settings.select_parameter_type_placeholder"
            }}
            class="col-12"
            @options={{this.filteredParameterTypes}}
            @selected={{this.selectedParameterType}}
            @disabled={{@disabled}}
            @onChange={{this.onParameterTypeChange}}
            as |parameter|
          >
            {{parameter.label}}
          </PowerSelect>
        </@form.element>
        {{#if (and @changeset.dataProxy.isParameter (eq @type "numeric"))}}
          <div class="row">
            {{#if (eq @changeset.dataProxy.parameterType "slider")}}
              {{! MIN Value }}
              <@form.element
                class="col-4"
                @controlType="number"
                @label={{t "components.parameter_settings.min_label"}}
                @customError={{get @errors "parameterMin"}}
                @property="parameterMin"
                as |el|
              >
                <el.control step={{0.001}} />
              </@form.element>
              {{! STEP Value }}
              <@form.element
                class="col-4"
                @controlType="number"
                @label={{t "components.parameter_settings.step_label"}}
                @customError={{get @errors "parameterStep"}}
                @property="parameterStep"
                as |el|
              >
                <el.control step={{0.001}} min={{0.001}} />
              </@form.element>
              {{! MAX Value }}
              <@form.element
                class="col-4"
                @controlType="number"
                @label={{t "components.parameter_settings.max_label"}}
                @customError={{get @errors "parameterMax"}}
                @property="parameterMax"
                as |el|
              >
                <el.control step={{0.001}} />
              </@form.element>
            {{else if (eq @changeset.dataProxy.parameterType "select")}}
              {{#if @changeset.dataProxy.parameterOptions.data}}
                <div class="col-5">
                  <small>{{t "components.parameter_settings.value"}}</small>
                </div>
                <div class="col-5">
                  <small>{{t "components.parameter_settings.label"}}</small>
                </div>
                <div class="col2"></div>
              {{/if}}
              {{#each @changeset.dataProxy.parameterOptions.data as |option|}}
                <@form.element
                  class="col-5"
                  @controlType="number"
                  @onChange={{fn (mut-number option.value)}}
                  @value={{option.value}}
                  as |el|
                >
                  <el.control
                    class="form-control-sm"
                    {{on "blur" this.sortSelectOptionsByValue}}
                  />
                </@form.element>
                <@form.element
                  class="col-5"
                  @controlType="text"
                  @onChange={{fn (mut option.label)}}
                  @value={{option.label}}
                  as |el|
                >
                  <el.control class="form-control-sm" />
                </@form.element>
                <div class="col-2">
                  <a
                    href="javascript:void(0)"
                    {{on "click" (fn this.removeParameterSelectOption option)}}
                  >
                    <FaIcon @icon="trash" />
                  </a>
                </div>
              {{else}}
                <div class="col-12">
                  <p class="text-danger">
                    {{t "components.parameter_settings.no_options_added"}}
                  </p>
                </div>
              {{/each}}
              <div class="col-10">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm parameter__settings__add-option"
                  {{on "click" this.addParameterSelectOption}}
                >
                  {{t "components.parameter_settings.add_option"}}
                </button>
              </div>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
      {{! DIVIDER }}
      {{#if (and @inputVisible @outputVisible)}}
        <hr />
      {{/if}}
      {{! OUTPUT }}
      {{#if @outputVisible}}
        <h6>
          {{t "components.parameter_settings.output"}}
        </h6>
        <@form.element
          @controlType="switch"
          @label={{t "components.parameter_settings.is_output_parameter_label"}}
          @property="isOutputParameter"
          as |el|
        >
          <el.control />
        </@form.element>
      {{/if}}
    </fieldset>
  </@acc.item>
{{/if}}