<div class="range-input__min-max">
  {{! Error: Out of bounds - MIN }}
  <BsAlert
    @type="warning"
    @visible={{gt @min @scenarioValue.value}}
    @dismissible={{false}}
  >
    <strong>
      {{t "messages.warning"}}:
    </strong>
    {{t "components.parameter_slider.below_minimum_value"}}
  </BsAlert>
  {{! Error: Out of bounds - Max }}
  <BsAlert
    @type="warning"
    @visible={{lt @max @scenarioValue.value}}
    @dismissible={{false}}
  >
    <strong>
      {{t "messages.warning"}}::
    </strong>
    {{t "components.parameter_slider.above_maximum_value"}}
  </BsAlert>
  {{! Error: Step size issue }}
  <BsAlert
    @type="warning"
    @visible={{not (check-step-in-range @min @step @scenarioValue.value)}}
    @dismissible={{false}}
  >
    <strong>
      {{t "messages.warning"}}::
    </strong>
    {{t "components.parameter_slider.not_a_multiple"}}
  </BsAlert>
  {{! Slider }}
  <div class="range-input__min-max__control">
    {{! template-lint-disable require-input-label }}
    <Input
      @type="range"
      @value={{@scenarioValue.value}}
      min={{@min}}
      max={{@max}}
      step={{or @step 1}}
      {{on "change" @onChange}}
    />
  </div>
  {{! Slider-Meta: Min, Value, Max, Units }}
  <div class="range-input__min_max__meta">
    <div class="range-input__min_max__meta__min">
      {{@min}}
    </div>
    <div class="range-input__min_max__meta__value">
      {{@scenarioValue.value}}
    </div>
    <div class="range-input__min_max__meta__max">
      {{@max}}
    </div>
    {{#if @units}}
      <div class="range-input__min_max__meta__unit">
        {{@units}}
      </div>
    {{/if}}
  </div>
</div>