<div
  class="sidebar__header"
  {{did-insert this.initialize}}
  {{did-update this.initialize @modelVersion.model}}
  {{did-update this.onAutoSave this.changeset.isDirty}}
>
  <Ui::SaveIndicator
    @errors={{this.changeset.hasErrors}}
    @isSaving={{this.changeset.isSaving}}
  />
  <h4 class="mb-0">
    <ContentEditable
      @value={{this.changeset.dataProxy.internalName}}
      @onChange={{fn (mut this.changeset.dataProxy.internalName)}}
      @placeholder="Name…"
    />
  </h4>
  {{#if this.changeset._errors.internalName}}
    <small class="text-danger">{{this.changeset._errors.internalName}}</small>
  {{/if}}
  <div class="sidebar__header__row">
    <Model::VersionSelect
      @model={{@modelVersion.model}}
      @currentVersion={{@modelVersion}}
    />
    {{! Badge: Public }}
    {{#if @modelVersion.isPublished}}
      &nbsp;
      <span class="badge rounded-pill badge-success text-bg-light">
        Public
      </span>
    {{/if}}

    {{! Badge: Edit Mode / View Mode }}
    {{#if @modelVersion.canEdit}}
      &nbsp;
      <span class="badge rounded-pill badge-warning text-bg-light">
        Edit Mode
      </span>
    {{else}}
      &nbsp;
      <span class="badge rounded-pill badge-warning text-bg-light">
        View Mode
      </span>
    {{/if}}
  </div>
</div>
<div class="sidebar__content">
  {{#if @modelVersion.model.description}}
    <div class="">
      <strong>
        Description:
      </strong>
      <br />
      <ContentEditable
        @value={{this.changeset.dataProxy.description}}
        @onChange={{fn (mut this.changeset.dataProxy.description)}}
        @placeholder="Description…"
      />
    </div>
    <hr />
  {{/if}}
  <div class="actions">
    {{! Action: Settings }}
    <a
      href="javascript:void(0)"
      class="action-item"
      {{on "click" this.modelDialogs.onShowSettingsDialog}}
    >
      <SvgIcon @icon="settings" @size="md" />
      Settings
    </a>
  </div>
</div>