<Ui::SaveIndicator
  @errors={{this.changeset.hasErrors}}
  @isSaving={{this.changeset.isSaving}}
/>
<div
  class="sidebar__header"
  {{did-insert this.initialize}}
  {{did-update this.initialize @modelVersion.model}}
  {{did-update this.onAutoSave this.changeset.isDirty}}
>

  <h4 class="mb-0">
    {{#if @modelVersion.canEdit}}
      <ContentEditable
        @value={{this.changeset.dataProxy.internalName}}
        @onChange={{fn (mut this.changeset.dataProxy.internalName)}}
        @placeholder={{t "components.model_info.name_placeholder"}}
      />
    {{else}}
      {{this.changeset.dataProxy.internalName}}
    {{/if}}
  </h4>
  {{#if this.changeset._errors.internalName}}
    <small class="text-danger">{{this.changeset._errors.internalName}}</small>
  {{/if}}
  <div class="sidebar__header__row">
    <Model::VersionSelect
      @model={{@modelVersion.model}}
      @currentVersion={{@modelVersion}}
    />
    {{! Badget: Latest }}
    {{#if @modelVersion.isLatest}}
      &nbsp;
      <span class="badge rounded-pill badge-success text-bg-light">
        {{t "components.share.latest"}}
      </span>
    {{/if}}
    {{! Badge: Public }}
    {{#if @modelVersion.isPublished}}
      &nbsp;
      <span class="badge rounded-pill badge-success text-bg-light">
        {{t "components.model_info.public"}}
      </span>
    {{/if}}
  </div>
</div>
<div class="sidebar__content">
  <div class="mb-3">
    <label for="" class="form-label">{{t
        "models.model.attributes.description"
      }}</label>
    {{#if @modelVersion.canEdit}}
      <ContentEditable
        @value={{this.changeset.dataProxy.description}}
        @onChange={{fn (mut this.changeset.dataProxy.description)}}
        @placeholder={{t "components.model_info.description_placeholder"}}
      />
    {{else}}
      {{this.changeset.dataProxy.description}}
    {{/if}}
  </div>
  <div class="actions">
    {{! Action: Settings }}
    <a
      href="javascript:void(0)"
      class="action-item"
      {{on "click" this.modelDialogs.onShowSettingsDialog}}
    >
      <SvgIcon @icon="settings" @size="md" />
      {{t "components.model_info.settings"}}
    </a>
  </div>
</div>