<div class="sidebar__header">
  <h4 class="mb-0">
    {{t "models.model.version_settings.title"}}
  </h4>

  <div class="sidebar__header__row">
    <Model::VersionSelect
      @model={{@modelVersion.model}}
      @currentVersion={{@modelVersion}}
    />
    {{! Badget: Latest }}
    {{#if @modelVersion.isLatest}}
      &nbsp;
      <span class="badge rounded-pill badge-success text-bg-light">
        Latest
      </span>
    {{/if}}
  </div>
</div>
<div class="sidebar__content">
  <div id="version-settings">

    <h5>
      {{t "models.model.version_settings.actions"}}
    </h5>
    {{! Action: New Draft }}
    <div class="actions">
      <a
        href="javascript:void(0)"
        class="action-item {{if @modelVersion.canCreateNewDraft '' 'disabled'}}"
        {{on "click" this.onCreateNewDraftVersion}}
      >
        <SvgIcon @icon="edit" @size="md" />

        New Draft
      </a>
      {{! Action: Publish -> Dialog }}
      <a
        href="javascript:void(0)"
        class="action-item {{if @modelVersion.canPublish '' 'disabled'}}"
        {{on "click" this.modelDialogs.onStartPublish}}
      >
        <SvgIcon @icon="upload" @size="md" />

        Publish
      </a>
      {{! Action: Share -> Dialog }}
      <a
        href="javascript:void(0)"
        class="action-item {{if @modelVersion.canShare '' 'disabled'}}"
        {{on "click" this.modelDialogs.onStartShare}}
      >
        <SvgIcon @icon="share" @size="md" />

        Share
      </a>
      {{! Action: Clone -> Dialog }}
      <a
        href="javascript:void(0)"
        class="action-item"
        {{on "click" this.modelDialogs.onStartClone}}
      >
        <SvgIcon @icon="content_copy" @size="md" />

        Clone
      </a>
    </div>
  </div>
</div>