<@acc.item @value={{"data-transformation"}} @title="Data Transformations">
  <@form.element @label={{t "components.data_transformation.data_key_field"}}>
    <PowerSelect
      @options={{this.keyOptions}}
      @selected={{this.selectedKeyProperty}}
      @disabled={{not @propertiesSchema.isResolved}}
      @searchEnabled={{true}}
      @searchField="title"
      @onChange={{this.onChangeKey}}
      @allowClear={{true}}
      as |property|
    >
      {{property.title}}
    </PowerSelect>
  </@form.element>

  <@form.element @label={{t "components.data_transformation.data_value_field"}}>

    <PowerSelectMultiple
      @options={{this.valueOptions}}
      @selected={{this.selectedValueProperties}}
      @disabled={{not @propertiesSchema.isResolved}}
      @searchEnabled={{true}}
      @searchField="title"
      @onChange={{this.onChangeValue}}
      @allowClear={{true}}
      as |property|
    >
      {{property.title}}
    </PowerSelectMultiple>
    <div>
      <a
        href="javascript:void(0)"
        {{on "click" (fn this.onChangeValue this.valueOptions)}}
      >{{t "components.data_transformation.select_all"}}</a>
    </div>
  </@form.element>
</@acc.item>