{{page-title "Show"}}

<BreadcrumbsItem>
  <Model::VersionSelect
    @model={{this.model.model}}
    @currentVersion={{this.model}}
  />
  {{! Notes }}
  {{#if this.model.notes}}
    &nbsp;
    <span class="badge rounded-pill badge-success text-bg-light">
      <FaIcon @icon="info-circle" @fixedWidth={{false}} />
      <BsPopover
        @placement="bottom"
        title="Popover on left"
        @triggerEvents="hover"
      >
        {{this.model.notes}}
      </BsPopover>
    </span>
  {{/if}}
  {{! Badge: Public }}
  {{#if this.model.isPublished}}
    &nbsp;
    <span class="badge rounded-pill badge-success text-bg-light">
      Public
    </span>
  {{/if}}
  {{! Badget: Latest }}
  {{#if this.model.isLatest}}
    &nbsp;
    <span class="badge rounded-pill badge-success text-bg-light">
      Latest
    </span>
  {{/if}}
  {{! Badge: Edit Mode / View Mode }}
  {{#if this.model.canEdit}}
    &nbsp;
    <span class="badge rounded-pill badge-warning text-bg-light">
      Edit Mode
    </span>
  {{else}}
    &nbsp;
    <span class="badge rounded-pill badge-warning text-bg-light">
      View Mode
    </span>
  {{/if}}
</BreadcrumbsItem>

{{#in-element this.navbar}}
  {{! Button: Settings }}
  <BsButton
    @type="light"
    @size="sm"
    @onClick={{fn (mut this.showSettingsModal) true}}
  >
    <FaIcon @icon="cog" />
    Settings
  </BsButton>
  {{! Button: Simulate }}
  <BsButton
    @type="primary"
    @size="sm"
    @onClick={{fn (mut this.showSimulateModal) true}}
  >
    Simulate
  </BsButton>
  {{! Dropdown: More Actions }}
  <BsDropdown @tagName="span" as |dd|>
    <dd.toggle class="btn">
      <FaIcon @icon="ellipsis-v" />
    </dd.toggle>
    <dd.menu @align="right" as |menu|>
      {{! Action: New Draft }}
      <menu.item>
        <a
          href="javascript:void(0)"
          class="dropdown-item {{
            if this.model.canCreateNewDraft "" "disabled"
          }}"
          {{on "click" this.onCreateNewDraftVersion}}
        >
          <FaIcon @icon="pencil" @fixedWidth={{true}} />
          New Draft
        </a>
      </menu.item>
      {{! Action: Publish -> Dialog }}
      <menu.item>
        <a
          href="javascript:void(0)"
          class="dropdown-item {{if this.model.canPublish "" "disabled"}}"
          {{on "click" this.onStartPublish}}
        >
          <FaIcon @icon="upload" @fixedWidth={{true}} />
          Publish
        </a>
      </menu.item>
      {{! Action: Share -> Dialog }}
      <menu.item>
        <a
          href="javascript:void(0)"
          class="dropdown-item {{if this.model.canShare "" "disabled"}}"
          {{on "click" this.onStartShare}}
        >
          <FaIcon @icon="share-alt" @fixedWidth={{true}} />
          Share
        </a>
      </menu.item>
      {{! Action: Clone -> Dialog }}
      <menu.item>
        <a
          href="javascript:void(0)"
          class="dropdown-item"
          {{on "click" this.onStartClone}}
        >
          <FaIcon @icon="copy" @fixedWidth={{true}} />
          Clone
        </a>
      </menu.item>
    </dd.menu>
  </BsDropdown>
{{/in-element}}

<ReactWrapper @model={{this.model}} />

<SidebarGeneral @model={{this.model}} />

<SimulateModal
  @model={{this.model}}
  @show={{this.showSimulateModal}}
  @onHide={{fn (mut this.showSimulateModal) false}}
/>

<Model::PublishDialog
  @open={{this.showPublishModal}}
  @model={{this.model}}
  @onClose={{this.hidePublishingDialog}}
/>

<Model::CloneDialog
  @open={{this.showCloneModal}}
  @model={{this.model}}
  @onClose={{this.hideCloneDialog}}
/>

<Model::ShareModal
  @open={{this.showShareModal}}
  @model={{this.model}}
  @onClose={{this.hideShareDialog}}
/>

<Model::SettingsDialog
  @open={{this.showSettingsModal}}
  @model={{this.model}}
  @onClose={{this.hideSettingsDialog}}
/>