{{page-title "Index"}}

<div class="container main-content">
  
  <div class="card">
    {{!-- header --}}
    <div class="card-header">
      <h2 class="h5">{{t "routes.models.index.list_of_all_models"}}</h2>
      <BsButton @type="primary" @size="sm" {{on 'click' this.startCreating}}>
        <FaIcon @icon="plus" /> {{t 'routes.models.index.add_model'}}
      </BsButton>
    </div>
    {{!-- list --}}
    <BsListGroup class="list-group-flush" as |ListGroup|>
      {{#let this.persistedModels as |models|}}
        {{#each models as |model|}}
          <ListGroup.item class="list-group-with-actions">
            <div class="list-group-body">
            <LinkTo @route="models.show" @model={{model}}>
            {{model.name}}
            </LinkTo>
            <div class="list-group-meta">
              <span title={{format-date model.updatedAt localeMatcher='lookup' format='dateTime'}}>
                {{t 'general.modified_at'}} {{format-date model.updatedAt}}
              </span>
              <span title={{format-date model.createdAt localeMatcher='lookup' format='dateTime'}}>
                {{t 'general.created_at'}} {{format-date model.createdAt}}
              </span>
            </div>
            </div>
            <div class="list-group-actions">
              <a href="#" {{on 'click' (fn this.startEditing model)}}><FaIcon @icon="pencil"></FaIcon></a>
              <a href="#" {{on 'click' (fn this.startDeleting model)}}><FaIcon @icon="trash"></FaIcon></a>
            </div>
          </ListGroup.item>
        {{/each}}
      {{/let}}
    </BsListGroup>
    {{!-- footer --}}
    <div class="card-footer text-body-secondary">
      {{this.persistedModels.length}} {{t 'routes.models.index.total'}}
    </div>
  </div>
  
</div>

{{!-- Modal / Form --}}
<BsModal
  @open={{this.isModalOpen}}
  @onSubmit={{this.submitModel}}
  @onHide={{this.closeModal}}
  as |modal|
>
  <modal.header>
    <h5 class="modal-title">
      {{#if (eq this.mode 'edit')}}
        {{{t 'routes.models.index.edit_title' name=this.changeset.name}}}
      {{else }}
        {{t 'routes.models.index.create_new_title'}}
      {{/if}}
    </h5>
  </modal.header>
  <modal.body>
    <BsForm
      @formLayout="vertical"
      @model={{this.changeset}}
      @onSubmit={{this.submitModel}}
      as |form|
    >
      <form.element {{did-insert this.focusFirstInputElement}} @controlType="text" @label={{t 'models.model.attributes.name'}} @property="name" as |el|>
        <el.control placeholder={{concat (t 'models.model.attributes.name') '…'}} required/>
      </form.element>
    </BsForm>
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{this.closeModal}}>{{t 'actions.cancel'}}</BsButton>
    <BsButton @type="success" @onClick={{this.submitModel}}>{{t 'actions.save'}}</BsButton>
  </modal.footer>
</BsModal>