{{page-title (t "routes.models.index.title")}}

<div class="container main-content">
  <div class="card">
    {{! header }}
    <div class="card-header">
      <h2 class="h3">
        {{t "routes.models.index.list_of_all_models"}}
      </h2>
      <div class="card-header-actions">
        {{! search }}
        <BsDropdown
          @onShow={{this.onShowSearch}}
          @closeOnMenuClick={{false}}
          as |dd|
        >
          <dd.button
            @size="sm"
            @type={{if this.hasSearchQuery "primary" "tertiary"}}
            class="search-button"
          >
            {{#if this.hasSearchQuery}}
              <a
                class="model-clear-search"
                href="javascript:void(0)"
                {{on "click" (fn this.clearSearch dd)}}
              >
                <FaIcon @icon="remove" />
              </a>
              <div class="model-search-preview">
                {{this.q}}
              </div>
            {{else}}
              <FaIcon @icon="search" />
            {{/if}}
          </dd.button>
          <dd.menu>
            <div class="model-search">
              <Input
                @value={{this._q}}
                id="model-search-input"
                {{on "change" this.onSearchChange}}
              />
              <BsButton @size="sm" @type="primary">
                <FaIcon @icon="search" />
              </BsButton>
            </div>
          </dd.menu>
        </BsDropdown>
        {{! sort }}
        <BsDropdown @tagName="span" as |dd|>
          <dd.button @size="sm" @type="tertiary">
            <FaIcon @icon="arrow-down-a-z" />
            {{t (concat "general." this.sort_key "_" this.sort_direction)}}
            <span class="caret"></span>
          </dd.button>
          <dd.menu as |menu|>
            <menu.item>
              {{#if
                (not
                  (and
                    (eq this.sort_key "createdAt") (eq this.sort_direction -1)
                  )
                )
              }}
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  {{on "click" (fn this.onSortChange "createdAt" -1)}}
                >
                  {{t "general.createdAt_-1"}}
                </a>
              {{/if}}
              {{#if
                (not
                  (and
                    (eq this.sort_key "createdAt") (eq this.sort_direction 1)
                  )
                )
              }}
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  {{on "click" (fn this.onSortChange "createdAt" 1)}}
                >
                  {{t "general.createdAt_1"}}
                </a>
              {{/if}}
              {{#if
                (not
                  (and
                    (eq this.sort_key "updatedAt") (eq this.sort_direction -1)
                  )
                )
              }}
                <a
                  href="javascript:void(0)"
                  class="dropdown-item"
                  {{on "click" (fn this.onSortChange "updatedAt" -1)}}
                >
                  {{t "general.updatedAt_-1"}}
                </a>
              {{/if}}
            </menu.item>
          </dd.menu>
        </BsDropdown>
        {{! create }}
        <BsButton @type="primary" @size="sm" {{on "click" this.startCreating}}>
          <FaIcon @icon="plus" />
          {{t "routes.models.index.add_model"}}
        </BsButton>
      </div>
    </div>

    {{! list }}
    <BsListGroup class="list-group-flush" as |ListGroup|>
      {{#let this.persistedModels as |models|}}
        {{#each models as |model|}}
          {{#let
            (if
              model.latestDraftVersion
              model.latestDraftVersion
              model.latestPublishedVersion
            )
            as |currentModelVersion|
          }}
            <ListGroup.item class="list-group-with-actions">
              <div class="list-group-body">
                <div class="list-group-body-content">
                  {{! Model name }}
                  <LinkTo
                    @route="models.versions.show"
                    @models={{array model.id currentModelVersion}}
                  >
                    {{model.internalName}}
                    {{! Published / Draft }}
                  </LinkTo>
                  <span class="meta">
                    {{#if currentModelVersion.publishedAt}}
                      ({{t "models.model.states.published"}})
                    {{else}}
                      ({{t "models.model.states.draft"}})
                    {{/if}}
                  </span>
                </div>
                {{! Meta }}
                <div class="list-group-meta">
                  {{! Meta: Version }}
                  <Model::VersionSelect
                    @model={{model}}
                    @currentVersion={{currentModelVersion}}
                  />
                  {{! Permissions }}
                  <span
                    class="badge rounded-pill badge-success text-bg-secondary text-light"
                  >
                    <FaIcon @icon="shield" @fixedWidth={{false}} />
                    &nbsp;
                    {{#if (eq this.user.currentUserId model.createdBy.id)}}
                      {{t "permissions.creator"}}
                    {{else if model.role}}
                      {{t (concat "permissions." model.role)}}
                    {{else}}
                      {{t "permissions.0"}}
                    {{/if}}
                  </span>

                  {{! Meta: Created at }}
                  <span
                    title={{concat
                      (t "general.created_at")
                      ": "
                      (format-date
                        model.createdAt localeMatcher="lookup" format="dateTime"
                      )
                    }}
                  >
                    <FaIcon
                      @icon="calendar-plus"
                      @fixedWidth={{true}}
                    />{{format-date model.createdAt}}
                  </span>
                  {{! Meta: Updated at }}
                  <span
                    title={{concat
                      (t "general.modified_at")
                      ": "
                      (format-date
                        model.updatedAt localeMatcher="lookup" format="dateTime"
                      )
                    }}
                  >
                    <FaIcon @icon="code-commit" @fixedWidth={{true}} />
                    {{time-ago this.intl.primaryLocale model.updatedAt}}
                  </span>
                  {{! Created By }}
                  <span>
                    <FaIcon @icon="user" @fixedWidth={{true}} />
                    {{model.createdBy.email}}
                  </span>
                </div>
              </div>
              {{! Actions }}
              <div class="list-group-actions">
                <LinkTo
                  @route="models.versions.show"
                  @models={{array model.id currentModelVersion}}
                >
                  <FaIcon @icon="eye" />
                </LinkTo>
                <a
                  href="#"
                  class="{{if model.canEdit '' 'disabled'}}"
                  {{on "click" (fn this.startEditing model)}}
                >
                  <FaIcon @icon="pencil" />
                </a>
                <a
                  href="#"
                  class="{{if model.canDelete '' 'disabled'}}"
                  {{on "click" (fn this.startDeleting model)}}
                >
                  <FaIcon @icon="trash" />
                </a>
              </div>
            </ListGroup.item>
          {{/let}}
        {{else}}
          <ListGroup.item>
            <div class="list-group-body">
              {{t "routes.models.index.no_models_found"}}
            </div>
          </ListGroup.item>
        {{/each}}
      {{/let}}
    </BsListGroup>
    {{! footer }}
    <div class="card-footer model-index-footer text-body-secondary">
      <Ui::Pagination
        @model={{this.persistedModels}}
        @limit={{this.limit}}
        @total={{this.model.meta.total}}
        @page={{this.page}}
        @onPageChanged={{this.onPageChanged}}
        @onLimitChanged={{this.onLimitChanged}}
      />
    </div>
  </div>
</div>

{{! Use the new component for the Modal / Form }}
<Model::FormModal
  @isOpen={{this.isModalOpen}}
  @mode={{this.mode}}
  @changeset={{this.changeset}}
  @onClose={{this.closeModal}}
  @onSubmit={{this.submitModel}}
/>