{{#unless @disabled}}
  <BasicDropdown
    @horizontalPosition="center"
    @verticalPosition="above"
    @onClose={{this.onClose}}
    @renderInPlace={{true}}
    as |dd|
  >
    <dd.Trigger>
      <BsButton @type="primary" class="btn-round" @size="md">
        <SvgIcon @icon="add" @size="md" />
      </BsButton>
    </dd.Trigger>
    <dd.Content>
      <div class="primitives-card">
        <div class="primitives-card__row">
          <h5>
            {{t "node-toolbar.title"}}
          </h5>
          <a
            class={{if this.isPinned "pinned"}}
            href="javascript:void(0)"
            {{on "click" this.togglePin}}
          >
            <SvgIcon @icon="push_pin" @size="xs" />
          </a>
        </div>
        {{#each this.nodeGroups as |nodeGroup|}}
          <h6>
            {{titleize nodeGroup.name}}
          </h6>
          <div class="node-toolbar__section">
            {{#each nodeGroup.nodeTypes as |nodeType|}}
              <NodeToolbar::Node
                @config={{this.getNodeTypeConfig nodeType}}
                @onDragStart={{this.onDragStart}}
                @onDragEnd={{this.onDragEnd}}
              />
            {{/each}}
          </div>
        {{/each}}
      </div>
    </dd.Content>
  </BasicDropdown>
{{/unless}}