<BasicDropdown
  @horizontalPosition="center"
  @verticalPosition="above"
  @renderInPlace={{true}}
  @onOpen={{this.onOpen}}
  @onClose={{this.onClose}}
  @registerAPI={{fn
    this.floatingToolbarDropdownManager.registerInstance
    "simulateModal"
  }}
  as |modal|
>

  <modal.Content>
    <div class="simulate-card">
      <div class="simulate-card__row">
        <h4 class="modal-title">
          {{t "components.simulate_modal.title"}}
        </h4>

        <a
          class={{if
            this.floatingToolbarDropdownManager.isSimulateDropdownPinned
            "pinned"
          }}
          href="javascript:void(0)"
          {{on "click" this.toggleDropdown}}
        >
          <SvgIcon @icon="push_pin" @size="xs" />
        </a>
      </div>
      <BsForm as |form|>
        {{#if this.ALLOW_SERVER_SIDE_SIMULATION}}
          <form.element
            @controlType="switch"
            @label={{t "components.simulate_modal.is_client_side"}}
            @value={{this.isClientSideCalculation}}
            @onChange={{this.toggleClientSideCalculation}}
          />
        {{/if}}
        {{! ERROR }}
        <BsAlert @type="danger" @visible={{this.hasError}}>
          <strong>
            {{#if this.simulationErrorNode}}
              {{t "models.node.error"}}
              <a
                href="javascript:void(0)"
                class="simulate-model__error-node__select-link"
                {{on
                  "click"
                  (fn
                    this.emberReactConnector.select
                    "node"
                    this.simulationErrorNode.id
                  )
                }}
              >
                [{{this.simulationErrorNode.name}}]
              </a>
              :
            {{else}}
              {{t "messages.error"}}:
            {{/if}}
          </strong>
          {{this.simulationError.message}}
        </BsAlert>
        {{#if (and this.currentDataset (not this.hasError))}}
          <BsNav @type="tabs" as |nav|>
            {{#each this.tabNames as |tabName|}}
              <nav.item>
                <a
                  href="javascript:void(0)"
                  class="nav-link {{if (this.isTabActive tabName) 'active'}}"
                  {{on "click" (fn this.switchTab tabName)}}
                >
                  {{titleize tabName}}
                </a>
              </nav.item>
            {{/each}}
          </BsNav>
        {{/if}}
        {{#if this.simulationTask.isRunning}}
          <BsSpinner>
            {{t "actions.loading"}}
          </BsSpinner>
        {{/if}}
        <div
          class="simulate-model__chart-container"
          {{did-insert this.didInsertChartContainer}}
        >
        </div>
        {{#if (and this.currentDataset (not this.hasError))}}
          <div class="simulate-model__range__wrapper">
            <div class="simulate-model__range">
              <label for="time-range" class="form-label">
                {{t "components.simulate_modal.controls"}}
              </label>
              <Input
                @type="range"
                class="form-range"
                min={{0.01}}
                max={{100}}
                step={{0.01}}
                id="time-range"
                @value={{this.animationCursor}}
                {{on "change" this.updateDatasetFromAnimationCursor}}
              />
            </div>

            <BsButton
              @type="secondary"
              class="btn-round"
              {{on "click" this.playPause}}
            >
              <FaIcon @icon={{if this.isPlaying "pause" "play"}} />
            </BsButton>

            <BsDropdown as |dd|>
              <dd.button @type="link">
                {{! template-lint-disable no-bare-strings }}
                {{this.speed}}x
                <span class="caret"></span>
              </dd.button>
              <dd.menu as |menu|>
                <menu.item>
                  <a
                    href="#"
                    class="dropdown-item"
                    {{on "click" (fn this.setSpeed 0.2)}}
                  >
                    {{! template-lint-disable no-bare-strings }}
                    0.2x
                  </a>
                </menu.item>
                <menu.item>
                  <a
                    href="#"
                    class="dropdown-item"
                    {{on "click" (fn this.setSpeed 0.5)}}
                  >
                    {{! template-lint-disable no-bare-strings }}
                    0.5x
                  </a>
                </menu.item>
                <menu.item>
                  <a
                    href="#"
                    class="dropdown-item"
                    {{on "click" (fn this.setSpeed 1)}}
                  >
                    {{! template-lint-disable no-bare-strings }}
                    1x ({{t "components.simulate_modal.default_speed"}})
                  </a>
                </menu.item>
                <menu.item>
                  <a
                    href="#"
                    class="dropdown-item"
                    {{on "click" (fn this.setSpeed 1.5)}}
                  >
                    {{! template-lint-disable no-bare-strings }}
                    1.5x
                  </a>
                </menu.item>
                <menu.item>
                  <a
                    href="#"
                    class="dropdown-item"
                    {{on "click" (fn this.setSpeed 2)}}
                  >
                    {{! template-lint-disable no-bare-strings }}
                    2x
                  </a>
                </menu.item>
                <menu.item>
                  <a
                    href="#"
                    class="dropdown-item"
                    {{on "click" (fn this.setSpeed 5)}}
                  >
                    {{! template-lint-disable no-bare-strings }}
                    5x
                  </a>
                </menu.item>
                <menu.item>
                  <a
                    href="#"
                    class="dropdown-item"
                    {{on "click" (fn this.setSpeed 10)}}
                  >
                    {{! template-lint-disable no-bare-strings }}
                    10x
                  </a>
                </menu.item>
              </dd.menu>
            </BsDropdown>
          </div>
        {{/if}}
      </BsForm>
    </div>

  </modal.Content>
  <modal.Trigger {{on "click" (fn this.removePinOnClose modal)}}>
    <BsButton @type="secondary">
      {{t "actions.simulate"}}
    </BsButton>
  </modal.Trigger>

</BasicDropdown>