{{page-title "Urban Model Builder"}}

<BsNavbar
  @type="dark"
  @backgroundColor="dark"
  @fluid={{false}}
  id="navbar-main" as |navbar|
>
  <div class="navbar-header">
    <navbar.toggle />
    <LinkTo @route="models.index" class="navbar-brand">
      {{t "general.brand"}}
    </LinkTo>
  </div>
  {{#if this.session.isAuthenticated}}
    <navbar.content>
      <navbar.nav as |nav|>
        <nav.item>
          <nav.linkTo @route="models.index">
            {{t "models.model.plural"}}
          </nav.linkTo>
        </nav.item>
      </navbar.nav>
    </navbar.content>
  {{/if}}
  <ul class="nav navbar-nav">
    <LangSwitch />
    {{#if this.session.isAuthenticated}}
      <li class="nav-item navbar-text">
        <span class="nav-link">
          <FaIcon @icon="user" />
          {{this.session.data.authenticated.userinfo.name}}
        </span>
      </li>
      <li class="nav-item">
        <button
          class="nav-link"
          type="button"
          {{on "click" this.invalidateSession}}
        >
          <FaIcon @icon="power-off" />
          {{t "actions.logout"}}
        </button>
      </li>
    {{/if}}
  </ul>
</BsNavbar>
<div id="ember-bootstrap-wormhole"></div>
<BasicDropdownWormhole />

<main>
  {{outlet}}
</main>