{{page-title "Urban Model Builder"}}

<BsNavbar
  @type="dark"
  @backgroundColor="dark"
  @fluid={{false}}
  id="navbar-main" as |navbar|
>
  <div class="navbar-header">
    <navbar.toggle />
    <LinkTo @route="application" class="navbar-brand">
      {{t "general.brand"}}
    </LinkTo>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.linkTo @route="models.index">
          {{t "models.model.plural"}}
        </nav.linkTo>
      </nav.item>
    </navbar.nav>
  </navbar.content>
  <ul class="nav navbar-nav">
    <LangSwitch />
    <li class="navbar-text">
      {{#if this.session.isAuthenticated}}
        <FaIcon @icon="user" />
        {{this.session.data.authenticated.userinfo.name}}
        <button
          class="btn btn-primary"
          type="button"
          {{on "click" this.invalidateSession}}
        >
          Logout
        </button>
      {{else}}
        <LinkTo
          @route="authenticate"
          class="btn btn-primary"
          role="button"
          aria-pressed="false"
        >
          Login
        </LinkTo>
      {{/if}}
    </li>
  </ul>
</BsNavbar>

<BsNavbar @type="dark" @backgroundColor="secondary" @fluid={{false}}>
  <BreadcrumbsContainer
    @itemClass="breadcrumbs__item"
    @linkClass="breadcrumbs__link"
    class="breadcrumbs"
  />
  <div id="navbar-secondary"></div>
</BsNavbar>

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="application" class={{linkClass}}>
    {{t "general.home"}}
  </LinkTo>
</BreadcrumbsItem>

<div id="ember-bootstrap-wormhole"></div>

<main>
  {{outlet}}
</main>