{{page-title (t "routes.login.title")}}

<div class="container main-content">
  <div class="card card--login">
    <div class="card-header">
      <h2 class="h5">
        {{t "actions.login"}}
      </h2>
    </div>
    <div class="card-body">
      <LinkTo
        @route="authenticate"
        class="btn btn-primary"
        aria-pressed="false"
      >
        <span>
          {{t "actions.login"}}
        </span>
        <FaIcon @icon="right-to-bracket" />
      </LinkTo>
      <a
        class="btn btn-secondary"
        role="button"
        href="{{this.registrationUrl}}"
      >
        {{t "actions.register"}}
      </a>
      <LinkTo @route="demo" class="btn btn-secondary" aria-pressed="false">
        <span>
          {{t "general.demo"}}
        </span>
      </LinkTo>
    </div>
  </div>
</div>