<BsModal
  @open={{@open}}
  @onSubmit={{this.onSubmit}}
  @onHide={{this.onHide}}
  {{did-insert this.prepare}}
  as |modal|
>
  <modal.header>
    <h5 class="modal-title">
      {{t "components.clone_dialog.title"}}
    </h5>
  </modal.header>
  <modal.body>
    <p>
      {{t "components.clone_dialog.intro"}}
    </p>
    <BsForm
      @formLayout="vertical"
      @model={{this.changeset}}
      @onSubmit={{this.onSubmit}}
      as |form|
    >
      <form.element
        @controlType="text"
        @label={{t "models.model.attributes.name"}}
        @property="internalName"
      />
    </BsForm>
  </modal.body>
  <modal.footer>
    <Ui::ModalButtons
      @onCancel={{this.onHide}}
      @onSubmit={{this.onSubmit}}
      @cancelText={{t "actions.cancel"}}
      @submitText={{t "actions.clone"}}
    />
  </modal.footer>
</BsModal>