<BsModal
  @open={{@isOpen}}
  @onSubmit={{@onSubmit}}
  @onHide={{@onClose}}
  as |modal|
>
  <modal.header>
    <h5 class="modal-title">
      {{#if (eq @mode "edit")}}
        {{! template-lint-disable no-triple-curlies  }}
        {{{t "routes.models.index.edit_title" name=@changeset.internalName}}}
      {{else}}
        {{t "routes.models.index.create_new_title"}}
      {{/if}}
    </h5>
  </modal.header>
  <modal.body>
    <BsForm
      @formLayout="vertical"
      @showValidations={{gt @changeset.errors.length 0}}
      @model={{@changeset}}
      @onSubmit={{@onSubmit}}
      as |form|
    >
      {{! name }}
      <form.element
        @controlType="text"
        @label={{t "models.model.attributes.name"}}
        @property="internalName"
        {{did-insert this.focusFirstInputElement}}
        as |el|
      >
        <el.control
          placeholder={{concat (t "models.model.attributes.name") "…"}}
          required
        />
      </form.element>
      {{! description }}
      <form.element
        @controlType="textarea"
        @label={{t "models.model.attributes.description"}}
        @property="description"
        @rows="3"
      />
    </BsForm>
  </modal.body>
  <modal.footer>
    <Ui::ModalButtons
      @onCancel={{@onClose}}
      @onSubmit={{@onSubmit}}
      @cancelText={{t "actions.cancel"}}
      @submitText={{t "actions.save"}}
    />
  </modal.footer>
</BsModal>