<BsModal
  @open={{@open}}
  @onSubmit={{this.onSubmit}}
  @onHide={{this.onHide}}
  {{did-insert this.prepare}} as |modal|
>
  <modal.header>
    <h5 class="modal-title">
      Publish
    </h5>
  </modal.header>
  <modal.body>
    <BsForm
      @formLayout="vertical"
      @model={{this.changeset}}
      @onSubmit={{this.onSubmit}} as |form|
    >
      <form.element
        @controlType="radio"
        @label="Version Type"
        @property="versionType"
        @options={{this.versionTypes}}
      />
      <form.element @controlType="textarea" @label="Notes" @property="notes" />
    </BsForm>
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{this.onHide}}>
      {{t "actions.cancel"}}
    </BsButton>
    <BsButton @type="success" @onClick={{this.onSubmit}}>
      {{t "actions.save"}}
    </BsButton>
  </modal.footer>
</BsModal>