<BsModal
  @open={{@open}}
  @onSubmit={{this.onSubmit}}
  @onHide={{this.onHide}}
  {{did-insert this.prepare}}
  as |modal|
>
  <modal.header>
    <h5 class="modal-title">
      {{t "components.publish_dialog.title"}}
    </h5>
  </modal.header>
  <modal.body>
    <p>
      {{t "components.publish_dialog.intro"}}
    </p>
    <BsForm
      @formLayout="vertical"
      @showValidations={{gt this.changeset.errors.length 0}}
      @model={{this.changeset}}
      @onSubmit={{this.onSubmit}}
      as |form|
    >
      <form.element
        @controlType="radio"
        @label={{t "models.models_version.attributes.versionType"}}
        @property="versionType"
        @options={{this.versionTypes}}
      />
      <form.element
        @controlType="radio"
        @label={{t "components.settings_dialog.publish_to_ump_label"}}
        @property="publishedToUMP"
        @options={{array "No" "Yes"}}
        as |el|
      >
        <el.control as |label|>
          {{t (concat "general" "." label)}}
        </el.control>
      </form.element>
      {{#if (eq "Yes" this.changeset.publishedToUMP)}}
        <BsAlert @type="warning" @dismissible={{false}}>
          {{t "components.publish_dialog.ump_warning"}}
        </BsAlert>
      {{/if}}
      <form.element
        @controlType="textarea"
        @label={{t "models.models_version.attributes.notes"}}
        @property="notes"
      />
    </BsForm>

    <p>
      {{{t "components.publish_dialog.disclaimer"}}}
    </p>

  </modal.body>
  <modal.footer>
    <Ui::ModalButtons
      @onCancel={{this.onHide}}
      @onSubmit={{this.onSubmit}}
      @cancelText={{t "actions.cancel"}}
      @submitText={{t "actions.publish"}}
    />
  </modal.footer>
</BsModal>