<BsModal
  @open={{@open}}
  @onSubmit={{this.onSubmit}}
  @onHide={{this.onHide}}
  {{did-insert this.prepare}}
  as |modal|
>
  <modal.header>
    <h5 class="modal-title">
      {{t "components.publish_dialog.title"}}
    </h5>
  </modal.header>
  <modal.body>
    <p>
      {{t "components.publish_dialog.intro"}}
    </p>
    <BsForm
      @formLayout="vertical"
      @model={{this.changeset}}
      @onSubmit={{this.onSubmit}}
      as |form|
    >
      <form.element
        @controlType="radio"
        @label={{t "models.models_version.attributes.versionType"}}
        @property="versionType"
        @options={{this.versionTypes}}
      />
      <form.element
        @controlType="textarea"
        @label={{t "models.models_version.attributes.notes"}}
        @property="notes"
      />
    </BsForm>
  </modal.body>
  <modal.footer>
    <Ui::ModalButtons
      @onCancel={{this.onHide}}
      @onSubmit={{this.onSubmit}}
      @cancelText={{t "actions.cancel"}}
      @submitText={{t "actions.save"}}
    />
  </modal.footer>
</BsModal>