<BsModal
  @open={{@open}}
  @onSubmit={{this.onSubmit}}
  @onHide={{this.onHide}}
  @size="lg"
  {{did-insert this.prepare}} as |modal|
>
  <modal.header>
    <h5 class="modal-title">
      {{t "components.share_modal.title"}}
    </h5>
  </modal.header>
  <modal.body>
    <p>
      {{t "components.share_modal.intro"}}
    </p>

    <h5>
      Modell teilen
    </h5>
    <BsForm
      @formLayout="vertical"
      @model={{this.changeset}}
      @onSubmit={{this.onSubmit}} as |form|
    >
      <div class="row model__share__row">
        {{! User search }}
        <form.element @label="User" class="col-5" @property="selectedUser">
          <PowerSelect
            @searchEnabled={{true}}
            @search={{this.lookupUsers}}
            @selected={{this.changeset.selectedUser}}
            @onChange={{this.onUserChange}} as |user|
          >
            {{user.email}}
          </PowerSelect>
        </form.element>
        {{! Role select }}
        <form.element @label="Role" class="col-5" @property="selectedRole">
          <PowerSelect
            @options={{this.roles}}
            @selected={{this.changeset.selectedRole}}
            @onChange={{fn (mut this.changeset.selectedRole)}} as |role|
          >
            {{role.label}}
          </PowerSelect>
        </form.element>
        <form.element @label="Submit" class="col-2 label-sr-only">
          <form.submitButton @size="sm">
            {{t "actions.share"}}
          </form.submitButton>
        </form.element>
      </div>
    </BsForm>

    <hr />

    <h5>
      Aktuelle Berechtigungen
    </h5>

    <ul class="model__permissions list-group">
      {{#each this.currentPermissions as |permission|}}
        <li class="list-group-item list-group-with-actions">
          <div class="list-group-body">
            <div class="list-group-body-content">
              {{permission.userEmail}}
            </div>
            <div class="list-group-meta">
              <span
                class="badge rounded-pill badge-success text-bg-secondary text-light"
              >
                {{t (concat "permissions." permission.role)}}
              </span>
            </div>
          </div>
          <div class="list-group-actions">
            <a
              href="javascript:void(0)"
              {{on "click" (fn this.removePermission permission)}}
            >
              <FaIcon @icon="trash" />
            </a>
          </div>
        </li>
      {{else}}
        <li class="list-group-item">
          Bisher noch keine Berechtigungen
        </li>
      {{/each}}
    </ul>
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{this.onHide}}>
      {{t "actions.close"}}
    </BsButton>
  </modal.footer>
</BsModal>