{{#if @model.hasVersion}}
  <BsDropdown @tagName="span" as |dd|>
    <dd.toggle class="badge rounded-pill text-bg-secondary text-white">
      {{#if @currentVersion}}
        {{@currentVersion.versionString}}
      {{else}}
        {{@model.versionString}}
      {{/if}}
    </dd.toggle>
    <dd.menu as |menu|>
      {{#each @model.modelsVersions as |modelVersion|}}
        <menu.item class="d-flex">
          <menu.linkTo
            @route="models.versions.show"
            @models={{array @model.id modelVersion}}
          >
            <div class="version-string">
              {{modelVersion.versionString}}
            </div>
            {{#if modelVersion.isPublished}}
              <span
                class="badge rounded-pill badge-success text-bg-success text-light"
              >
                {{t "models.model.states.published"}}
              </span>
            {{else}}
              <span
                class="badge rounded-pill badge-success text-bg-secondary text-light"
              >
                {{t "models.model.states.draft"}}
              </span>
            {{/if}}
          </menu.linkTo>
        </menu.item>
      {{/each}}
    </dd.menu>
  </BsDropdown>
{{else}}
  {{@model.versionString}}
{{/if}}